{% extends 'admin/admin.base.html.twig' %}

{% block main %}
    {{ form (form) }}
    <div>
        {% if book.image %}
            <img class="book-img" src="{{ asset('uploads/images/' ~ book.image)  }}" alt="{{ book.title }}">
        {% endif %}
    </div>
{% endblock %}